@import url("variables.css");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg-main);
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

/* Header/Nav */
.header__container {
  background-color: var(--color-bg-highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 2em;
}

.header__img {
  width: 300px;
  padding-top: 2em;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 120px;
  padding: 0;
}

.header__nav-item {
  text-decoration: none;
  color: var(--color-text);
}

.header__nav-item:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #1d2830;
  color: var(--color-white);
  padding: 4em;
}

.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 4em 0 0.5em;
}

.footer__column--left,
.footer__column--right {
  display: flex;
  flex-direction: column;
}

.footer__column--left {
  margin: 0 0 1em 0;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__list li {
  padding: 0.5em 0;
}

.footer__item {
  text-decoration: none;
  color: var(--color-white);
}

.footer__item:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1em;
  margin: 1em 0 0;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  background-color: #4e5a65;
  border-radius: 50%;
  padding: 0.5em;
}

/* Media Queries for footer */

@media (min-width: 768px) {
  .footer {
    padding: 5em 15em;
  }

  .footer__top,
  .footer__bottom {
    flex-direction: row;
  }

  .footer__bottom {
    align-items: center;
  }
}
