html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  color: #4e5a65;
  background-color: #fbfafe;
  max-width: 1920px;
  margin: 0 auto;
}

/* Header/Nav */
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em 0 2em;
}

.header__img {
  width: 300px;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 120px;
  padding: 0;
}

.nav__container__links {
  text-decoration: none;
  color: #4e5a65;
}

.nav__container__links:hover {
  text-decoration: underline;
}
