/* Products Search Bar */

:root {
  --listing-card-width: 348px;
  --spacing-large: 33px;
}

.products .content {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.products__intro,
.search__container {
  text-align: center;
}

.products__title {
  font-size: 4.5rem;
  font-weight: 600;
  background-color: #f0ebfa;
  margin: 0;
}

.products__tagline {
  background-color: #f0ebfa;
  border-bottom: 100px solid #f0ebfa;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  margin-bottom: 3rem;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.products__search-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 36px;
}

.products__form {
  margin-bottom: 36px;
}

.products__search-input {
  width: 540px;
  padding: 18px 1.5rem;
  border: 1px solid #e1e5ea;
  border-radius: 4px;
  font-size: 1rem;
}

.products__search-input::placeholder {
  color: #97a5b5;
}

.products__count {
  color: #4e5a65;
  margin-bottom: 36px;
  font-style: italic;
}

.listings {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--listing-card-width), 1fr)
  );
  gap: var(--spacing-large);
  row-gap: calc(2 * var(--spacing-large));
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-large) 1rem;
}

.listings-item img {
  width: 100%;
  border-radius: 52px;
  margin-bottom: 30px;
}

.listings__show-more {
  display: flex;
  justify-content: center;
  background-color: #7b61ff;
  color: #fff;
  border: none;
  padding: 21px 18px;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  margin: var(--spacing-large) auto;
  width: 348px;
}

.listings-item:hover,
.listings__show-more:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.listings-item h3,
.listings-item p,
.listings-item .ratings {
  padding: 0 30px;
}

.listings-item h3 {
  font-family: Inter;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 0.75rem;
}

.listings__desc {
  font-style: italic;
  line-height: 1.5rem;
}

.listings__price {
  font-weight: 700;
}

.rating-star {
  mask: url("../assets/icons/rating-star.svg") no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #d9d9d9;
  margin: 0.5rem 0;
}

.checked {
  background-color: #ffb31f;
}


.hide {
  display: none;
}

@media (min-width: 1024px) {
  .listings {
    padding-left: 0;
    padding-right: 0;
  }
}
